@model SistemaDeEmprestimos.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar cliente</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
             <div class="row">
                <div class="col">
                    <input type="hidden" asp-for="ClienteId" />
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="CPF" class="control-label"></label>
                        <input asp-for="CPF" class="form-control" />
                        <span asp-validation-for="CPF" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Telefone" class="control-label"></label>
                        <input asp-for="Telefone" class="form-control" />
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Endereco" class="control-label"></label>
                        <input asp-for="Endereco" class="form-control" />
                        <span asp-validation-for="Endereco" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Complemento" class="control-label"></label>
                        <input asp-for="Complemento" class="form-control" />
                        <span asp-validation-for="Complemento" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <select asp-for="Estado" class="form-control">
                            <option value="PA">PA</option>
                            <option value="DF">DF</option>
                            <option value="GO">GO</option>
                            <option value="MG">MG</option>
                            <option value="RJ">RJ</option>
                            <option value="SP">SP</option>
                            <option value="ES">ES</option>
                            <option value="PR">PR</option>
                            <option value="RS">RS</option>
                            <option value="SC">SC</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="AC">AC</option>
                            <option value="AM">AM</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="AP">AP</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="RendaMensal" class="control-label"></label>
                        <input asp-for="RendaMensal" class="form-control" />
                        <span asp-validation-for="RendaMensal" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="StatusEmprestimo" class="control-label"></label>
                        <select asp-for="StatusEmprestimo" class="form-control">
                            <option value="Habilitado">Habilitado</option>
                            <option value="Irregular">Irregular</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <a asp-action="Index" class="btn btn-info">Voltar</a>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
